.down-arrow-box {
  display: inline-block;
  margin-left: -21px;
}

hr {
  margin: 10px;
}

.tag {
  margin-right: 3px;
}

.popover {
  background-color: rgba(255, 255, 255, 0.85);
  min-width: 300px;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 0.2rem;
}

