<div [formGroup]="form" class="columns is-size-7">
    <div class="column is-3"><input class="input is-small" formControlName="name" type="text"
            placeholder="Mätpunktsnamn"></div>
    <div class="column is-3"><input class="input is-small" readonly formControlName="calibrationDate" type="text"
            placeholder="Tjocklek"></div>
    <div class="column is-3"><input class="input is-small" readonly formControlName="selfcheckDate" type="text"
            placeholder="vct"></div>
    <div class="column is-3"><input class="input is-small" readonly formControlName="controlUnit" type="text"
            placeholder="Avjämning"></div>
</div>