<ng-container *ngIf="mp$ | async as m">
    <div style="margin-top: 1rem;" class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column is-3">
                    <p class="title is-4">{{m.name}}</p>
                    <p class="subtitle is-7">{{m.placement}}</p>
                </div>
                <div class="column is-3">
                    <p class="title is-6">{{m.constructionType}}</p>
                    <p class="subtitle is-7">{{m.thickness}}mm - vct {{m.vct}} <br> {{m.concreteType}}</p>
                </div>
                <div class="column is-3">
                    <p class="title is-6">Borrdatum</p>
                    <p class="subtitle is-7">{{m.drillDate | date : 'yyyy-MM-dd HH:mm'}}</p>
                </div>
                <div class="column is-3 i">
                    <div class="buttons has-addons is-right">
                        <button (click)="expanded = !expanded" class="button is-small is-info"><i
                                class="fas fa-info"></i></button>
                        <button (click)="edit = true" class="button is-small is-dark"><i
                                class="fas fa-edit"></i></button>
                        <button (click)="duplicate = true" class="button is-small is-dark"><i
                                class="fas fa-copy"></i></button>
                        <button (click)="delete()" class="button is-small is-dark has-text-danger"><i
                                class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <div *ngIf="expanded" class="columns">
                <div class="column">
                    display extra info here..
                </div>
            </div>
        </div>
    </div>
    <dryfix-mp-create *ngIf="duplicate" [mp]="m" [duplicate]="duplicate" (done)="duplicate = false"></dryfix-mp-create>
    <dryfix-mp-create *ngIf="edit" [mp]="m" (done)="edit = false"></dryfix-mp-create>

</ng-container>