<div class="columns">
    <div class="column">
        <p class="subtitle is-4">{{title}}</p>
    </div>
</div>
<div>
    <div style="margin-bottom: 30px;" class="box">
        <div class="columns info-panel is-size-7">
            <div class="column">
                <div class="columns">
                    <div class="column is-5 has-text-weight-bold">Projektnamn:</div>
                    <div class="column">Projektnamn här</div>
                </div>
                <div class="columns">
                    <div class="column is-5 has-text-weight-bold">Projektadress:</div>
                    <div class="column">Projektadress</div>
                </div>
                <div class="columns">
                    <div class="column is-5 has-text-weight-bold">Mätmetod för RF-Bestämning:</div>
                    <div class="column">Vaisala HMP40S</div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-5 has-text-weight-bold">Beställare av fuktmätning:</div>
                    <div class="column">Beställare</div>
                </div>
                <div class="columns">
                    <div class="column is-5 has-text-weight-bold">Kontaktoperson:</div>
                    <div class="column">Kontakt</div>
                </div>
                <div class="columns">
                    <div class="column is-5 has-text-weight-bold">E-post:</div>
                    <div class="column">epost@epost.nu</div>
                </div>
                <div class="columns">
                    <div class="column is-5 has-text-weight-bold">Telefon:</div>
                    <div class="column">0708 46 46 71</div>
                </div>
            </div>
        </div>
    </div>
</div>