<div class="columns has-background-dark has-text-white is-size-7 has-text-weight-bold">
    <div class="column is-1">Mätpunkt</div>
    <div class="column is-2">Konstruktion</div>
    <div class="column is-1">Tjocklek</div>
    <div class="column is-1">Vct</div>
    <div class="column is-2">Gjutdatum</div>
    <div class="column is-1">Cementsort</div>
    <div class="column is-1">Tillsatser</div>
    <div class="column is-1">Avjämnat</div>
    <div class="column is-2">Planerat ytskikt</div>
</div>
