<div style="margin-top: 2rem" class="box">
    <h1>Profile Settings</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input readonly formControlName="email" class="input is-small" type="email" placeholder="E-mail">
            </div>
        </div>
        <div class="field">
            <label class="label">Namn</label>
            <div class="control">
                <input formControlName="displayName" class="input is-small" type="text" placeholder="Förnamn Efternamn">
            </div>
        </div>
        <div class="field">
            <label class="label">Titel</label>
            <div class="control">
                <input formControlName="title" class="input is-small" type="text"
                    placeholder="Fukttekniker, Regionschef, etc.">
            </div>
        </div>
        <div class="field">
            <label class="label">Telefonnummer</label>
            <div class="control">
                <input formControlName="phone" class="input is-small" type="text" placeholder="Telefonnummer">
            </div>
        </div>
        <div class="field">
            <label class="label">Region</label>
            <div class="control">
                <input formControlName="region" class="input is-small" type="text"
                    placeholder="Stockholm, Uppsala, Göteborg, Malmö">
            </div>
        </div>

        <button style="margin-right: 4px;" class="button is-link" type="submit" [disabled]="!profileForm.valid">Spara
            ändringar</button>



    </form>

    <div style="margin-top: 1rem;" *ngIf="currentUser$ | async as user">
       <img [src]="user.profilePictureUrl" alt=""> 
    </div>

    

    <div class="field">
        <label class="label">Profilbild</label>
        <div class="control">
            <input (change)="saveAvatar($event)" #file class="input is-small" type="file"
                placeholder="Stockholm, Uppsala, Göteborg, Malmö">
        </div>
    </div>
</div>