<div class="columns has-background-dark has-text-white is-size-7 has-text-weight-bold">
    <div class="column is-1">Mätpunkt</div>
    <div class="column is-1">Tjocklek</div>
    <div class="column is-1">vct</div>
    <div class="column is-1">Avjämning</div>
    <div class="column is-1">Uttorkning</div>
    <div class="column is-1">Ekv</div>
    <div class="column is-1">Uppmätt</div>
    <div class="column is-2">Datum</div>
    <div class="column is-1">Täthet</div>
    <div class="column is-2">Placering</div>
</div>
