<div class="columns">
    <div *ngIf="project$ | async as project" class="column">
        <div style="margin-top: 0.5rem;" class="box has-background-dark">
            <div class="columns">
                <div class="column">
                    <h2 style="margin: 0px;" class="title has-text-white">{{project.name}}</h2>
                    <h3 style="margin-top: 0px;" class="subtitle is-6 has-text-light">{{project.company}} -
                        {{project.pNumber}}
                    </h3>
                </div>
                <div class="column">
                    <ng-container *ngIf="owner(project.owner) | async as owner">
                        <div class="columns">
                            <div class="column has-text-right">
                                <span class="is-block">
                                    <img class="small-avatar" [src]="owner.profilePictureUrl" alt="">
                                </span>
                            </div>
                            <div class="column">
                                <span style="margin-top: 0.5rem;" class="is-size-6 has-text-white has-text-weight-bold is-block">Uppdragsansvarig</span>
                                <span class="is-size-6 has-text-white">{{owner.displayName}}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>

    <div class="column is-2 bg-sidebar is-hidden-touch fixed-width">
        <aside style="margin-top: 1rem; position:fixed;" class="menu">

            <p class="menu-label">
                Navigation
            </p>
            <ul class="menu-list">
                <li><a routerLink="/home/projectview/{{id}}/project" routerLinkActive="active">Översikt</a></li>
                <li><a>Deltagare</a></li>
                <li><a>Inställningar</a></li>
            </ul>
        </aside>
    </div>
</div>