.a4-p {
    margin: auto;
    margin-bottom: 20px;
    height: 1554px;
    width: 1040px;
    padding-top: 6rem;
    padding-left: 9rem;
    padding-right: 9rem;
    position: relative;
}

.a4-l {
    margin: auto;
    margin-bottom: 20px;
    height: 1040px;
    width: 1554px;
    padding-top: 6rem;
    padding-left: 9rem;
    padding-right: 9rem;
    position: relative;
}

.line {
    width: 100%;
    height: 14px;
    background-color: #90A3CF;
}

.rbk-title {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

.rbk-subtitle {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

.grey-box {
    width: 100%;
    padding: 1rem;
    background-color: #BFBFBF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    margin-top: 2rem;

    .column {
        margin: 0px;
        padding: 8px;
    }
}

.rbk-man {
    margin-top: -450px;
}

.info-panel {

    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    .column {
        margin: 0px;
        padding: 0px;
    }
}

.main  {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../../assets/fabric_plaid.png');
    background-repeat: repeat;
}