<ng-container>
    <button (click)="createProtocol()" class="button">Save protocol</button>
    <div *ngIf="mps$ | async as mps" class="main">
        <div class="box a4-p">
            <pv-header-panel></pv-header-panel>
            <div style="margin-top: 3rem;" class="columns">
                <div class="column has-text-right">
                    <img width="110" style="margin-bottom: -35px; margin-right: 20px;"
                        src="../../../assets/dryfix/rbkLogo.png" alt="">
                    <div class="line"></div>
                </div>
            </div>
            <div style="margin-top: 4rem;" class="columns">
                <div class="column has-text-centered">
                    <h1 class="rbk-title">RBK-mätning</h1>
                    <p class="rbk-subtitle">avsenende relativ fuktighet i betong enligt<br> systemet RBK-auktoriserad
                        Fuktkontrollant Betong</p>

                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="grey-box">
                        <div class="columns">
                            <div class="column has-text-weight-bold">Avser Projekt:</div>
                            <div class="column"></div>
                        </div>
                        <div class="columns">
                            <div class="column has-text-weight-bold">Projektnummer RBK:</div>
                            <div class="column"></div>
                        </div>
                        <div class="columns">
                            <div class="column has-text-weight-bold">Utfört av:</div>
                            <div class="column">Förnamn Efternamn</div>
                        </div>
                        <div class="columns">
                            <div class="column has-text-weight-bold">Auktorisationsnummer:</div>
                            <div class="column">xxx</div>
                        </div>
                        <div class="columns">
                            <div class="column has-text-weight-bold">datum:</div>
                            <div class="column">xxxx-xx-xx</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div style="margin-left: 10rem; margin-top: 5rem;" class="content is-normal has-text-black">
                        En RBK-mätning
                        <ul>
                            <li>är utförd enligt Manual fuktmätning i betong.</li>
                            <li>är i alla moment utförd av en RBK-auktoriserad fuktkontrollant</li>
                            <li>registreras på www.rbk.nu</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-7">
                    <div style="margin-left: 8rem; margin-top: 1rem;" class="content is-normal has-text-black">
                        För synpunkter angående systemet eller <br> önskemål om revision avseende utförd<br>
                        RBK-mätning, gå
                        in på www.rbk.nu under "Kontakta oss"
                    </div>
                </div>
            </div>
            <div style="margin-left: 8rem;" class="columns">
                <div class="column">
                    <p class="rbk-subtitle has-text-link">www.rbk.nu</p>
                </div>
            </div>
            <div style="margin-top: 8rem;" class="columns">
                <div class="column">
                    <div class="line"></div>
                    <span class="is-size-7 is-block">Blankett F11 version 6 – Rådet för ByggKompetens 2017-10-09</span>
                    <span class="is-size-7 is-block">Mätning utförd i enlighet med Manual fuktmätning i betong version
                        6.0</span>
                </div>
                <div class="column is-4">
                    <img class="rbk-man" src="../../../assets/dryfix/rbkMan.png" alt="">
                </div>
            </div>
        </div>

        <div class="box a4-p">
            <pv-header-panel></pv-header-panel>
            <div class="columns">
                <div class="column">
                    <span class="is-block">
                        <h3 class="subtitle is-3 is-block">Sammanställning av fuktmätningar</h3>
                    </span>
                    <span class="is-block">
                        <h3 class="subtitle is-4 is-block">projektnamn</h3>
                    </span>
                </div>
            </div>
            <pv-mp-overview-header></pv-mp-overview-header>
            <pv-mp-overview *ngFor="let mp of mps" [id]="mp"></pv-mp-overview>
            <div class="columns">
                <div class="column">
                    <p style="margin-bottom: 1rem;" class="is-size-7">*Kritisk RF (RFkrit) Angiven av beställare.</p>
                    <p style="margin: 8px;" class="title is-6">Kommentar:</p>
                    <div [froalaEditor]>Hello, Froala!</div>
                </div>
            </div>
            <pv-footer-panel></pv-footer-panel>
        </div>

        <div class="box a4-p">
            <pv-header-panel></pv-header-panel>
            <div class="columns">
                <div class="column">
                    <p class="subtitle is-4">Sammanfattning RBK-mätning</p>
                </div>
            </div>
            <pv-footer-panel></pv-footer-panel>
        </div>

        <div class="box a4-l">
            <pv-header-panel></pv-header-panel>
            <pv-info-panel [title]="'Konstruktionsdata'"></pv-info-panel>
            <pv-mp-construction-header></pv-mp-construction-header>
            <pv-mp-construction *ngFor="let mp of mps" [id]="mp"></pv-mp-construction>
            <pv-footer-panel></pv-footer-panel>


        </div>
        <div class="box a4-l">
            <pv-header-panel></pv-header-panel>

            <pv-info-panel [title]="'Montageprotokoll - F3'"></pv-info-panel>
            <pv-mp-mount-header></pv-mp-mount-header>
            <pv-mp-mount *ngFor="let mp of mps" [id]="mp"></pv-mp-mount>
            <pv-footer-panel></pv-footer-panel>


        </div>

        <div style="position:relative;" class="box a4-l">
            <pv-header-panel></pv-header-panel>
            <pv-info-panel [title]="'Givare'"></pv-info-panel>
            <pv-mp-probes-header></pv-mp-probes-header>
            <pv-mp-probes *ngFor="let mp of mps" [id]="mp"></pv-mp-probes>
            <pv-footer-panel></pv-footer-panel>


        </div>
        <div class="box a4-l">
            <pv-header-panel></pv-header-panel>
            <div class="columns">
                <div class="column">
                    <p class="subtitle is-4">Mätprotokoll - F5</p>
                </div>
            </div>
            <div class="box">
                <div class="columns info-panel is-size-7">
                    <div class="column">
                        <div class="columns">
                            <div class="column is-5 has-text-weight-bold">Projektnamn:</div>
                            <div class="column">Projektnamn här</div>
                        </div>
                        <div class="columns">
                            <div class="column is-5 has-text-weight-bold">Projektadress:</div>
                            <div class="column">Projektadress</div>
                        </div>
                        <div class="columns">
                            <div class="column is-5 has-text-weight-bold">Mätmetod för RF-Bestämning:</div>
                            <div class="column">Vaisala HMP40S</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="columns">
                            <div class="column is-5 has-text-weight-bold">Beställare av fuktmätning:</div>
                            <div class="column">Beställare</div>
                        </div>
                        <div class="columns">
                            <div class="column is-5 has-text-weight-bold">Kontaktoperson:</div>
                            <div class="column">Kontakt</div>
                        </div>
                        <div class="columns">
                            <div class="column is-5 has-text-weight-bold">E-post:</div>
                            <div class="column">epost@epost.nu</div>
                        </div>
                        <div class="columns">
                            <div class="column is-5 has-text-weight-bold">Telefon:</div>
                            <div class="column">0708 46 46 71</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <table class="table is-narrow is-bordered is-fullwidth is-size-7">
                        <thead class="has-background-dark">
                            <th class="has-text-light">Mätpunkt</th>
                            <th class="has-text-light">Givare</th>
                            <th class="has-text-light">Montage</th>
                            <th class="has-text-light">Avläsning</th>
                            <th class="has-text-light">Avl. RF</th>
                            <th class="has-text-light">Temp</th>
                            <th class="has-text-light"></th>
                            <th class="has-text-light">Kal. RF</th>
                            <th class="has-text-light">Korr. Temp</th>
                            <th class="has-text-light">Korr. Fuktkap.</th>
                            <th class="has-text-light">Osäkerhet</th>
                            <th class="has-text-light">Slutvärde</th>
                            <th class="has-text-light">RFkrit</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="input is-small" type="text" placeholder="Mätpunktsnamn"></td>
                                <td><input class="input is-small" type="text" placeholder="Givare"></td>
                                <td><input class="input is-small" type="text" placeholder="Montage"></td>
                                <td><input class="input is-small" type="text" placeholder="Avläsning"></td>
                                <td><input class="input is-small" type="text" placeholder="Avl. RF"></td>
                                <td><input class="input is-small" type="text" placeholder="Temp"></td>
                                <td></td>
                                <td><input class="input is-small" type="text" placeholder="Kal. RF"></td>
                                <td><input class="input is-small" type="text" placeholder="Korr. Temp"></td>
                                <td><input class="input is-small" type="text" placeholder="Korr. Fuktkap"></td>
                                <td><input class="input is-small" type="text" placeholder="Osäkerhet"></td>
                                <td><input class="input is-small" type="text" placeholder="Slutvärde"></td>
                                <td><input class="input is-small" type="text" placeholder="RFkrit"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <pv-footer-panel></pv-footer-panel>
        </div>
    </div>
</ng-container>