<div [formGroup]="form" class="columns is-size-7">
    <div class="column is-1"><input class="input is-small" formControlName="name" type="text"
            placeholder="Mätpunktsnamn"></div>
    <div class="column is-2"><input class="input is-small" formControlName="constructionType" type="text"
            placeholder="Mätplats"></div>
    <div class="column is-1"><input class="input is-small" formControlName="thickness" type="text" placeholder="RFkrit">
    </div>
    <div class="column is-1"><input class="input is-small" formControlName="vct" type="text" placeholder="RFslut">
    </div>
    <div class="column is-2"><input class="input is-small" formControlName="castingDate" type="date"
            placeholder="Temp."></div>
    <div class="column is-1"><input class="input is-small" formControlName="concreteType" type="text" placeholder="Datum avl.">
    </div>
    <div class="column is-1"><input class="input is-small" formControlName="concreteAddons" type="text" placeholder="Datum avl.">
    </div>
    <div class="column is-1"><input class="input is-small" formControlName="levelingScreed" type="text" placeholder="Datum avl.">
    </div>
    <div class="column is-2"><input class="input is-small" formControlName="flooring" type="text" placeholder="Datum avl.">
    </div>
</div>
