<div style="margin-top: 2rem;" class="container">
    <h1 class="title is-3">General project information</h1>
    <div style="margin-bottom: 1.5rem;" class="box">
            <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input formControlName="name" class="input" type="text" placeholder="Project name">
            </div>
        </div>
        <div class="field">
            <label class="label">Adress</label>
            <div class="control">
                <input formControlName="adress" class="input" type="text" placeholder="Adress">
            </div>
        </div>
        <div class="field">
            <label class="label">Company</label>
            <div class="control">
                <input formControlName="company" class="input" type="text" placeholder="Adress">
            </div>
        </div>
        <div class="field">
            <label class="label">RBK-nummer</label>
            <div class="control">
                <input formControlName="rbkNumber" class="input" type="text" placeholder="RBK-nummer">
            </div>
        </div>
        <div class="field">
            <label class="label">Pnummer</label>
            <div class="control">
                <input formControlName="pNumber" class="input" type="text" placeholder="Pnumber">
            </div>
        </div>

        <button style="margin-right: 4px;" class="button is-link" type="submit"
            [disabled]="!projectForm.valid">save</button>

    </form>
    </div>

</div>
<dryfix-create-protocol [id]="id"></dryfix-create-protocol>
<dryfix-protocols-list [id]="id"></dryfix-protocols-list>
