<div style="margin-top: 0.5rem;" class="columns">
    <div class="column has-text-centered">
        <h3 class="has-text-success">{{((done / total) * 100).toFixed(0)}}%</h3>
    </div>
    <div class="column  has-text-centered is-hidden-touch">
        <span *ngIf="project_registerd" class="has-text-success"><span class="tag is-success">pyramid</span></span>
        <span *ngIf="!project_registerd" class="has-text-success"><span class="tag is-grey">pyramid</span></span>
    </div>
    <div class="column has-text-centered is-hidden-touch">
        <span *ngIf="project_order" class="has-text-success"><span class="tag is-success">orderbekr.</span></span>
        <span *ngIf="!project_order" class="has-text-danger"><span class="tag is-grey">orderbekr.</span></span>
    </div>
</div>