<div class="sub-activity-wraper">
    <div class="activity-box">
        <div class="icon-box">
          <div class="arrow-box">
            <i class="fas fa-level-down-alt fa-rotate-270"></i>
            <i class="fas fa-level-down-alt fa-rotate-270"></i>
          </div>
          <div class="icon-circle has-background-success has-text-centered has-text-white">
            <i class="fab fa-apple"></i>
          </div>
        </div>
        <div class="text-container">
          <h6 class="title is-6 is-marginless">Title 6</h6>
          <span class="is-size-7 is-paddingless">Some description about the activity heredsfsdf</span>
        </div>
      </div>
</div>
