<section class="hero is-dark is-large background-image">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <span class="logo is-size-4 has-text-white">SYSTEP</span><span
                            class="logo has-text-link is-size-4">!</span>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
<!--                     <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item">
                            Documentation
                        </a>
                        <span class="navbar-item">
                            <a class="button is-info is-inverted">
                                <span class="icon">
                                    <i class="fas fa-download"></i>
                                </span>
                                <span>Download</span>
                            </a>
                        </span>
                    </div> -->
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Välkommen till <span class="logo">SYSTEP</span><span class="logo has-text-link">!</span>
            </h1>
            <h2 class="subtitle">
                Systematic, step by step
            </h2>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-centered">
            <div class="container">
                <ul>
                    <li class="is-active has-text-black">
                        <a>Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<div class="container">
    <div style="margin-top: 3rem;" class="block">
        <p class="title is-4 has-text-centered">Logga in för att fortsätta</p>
    </div>
    <div class="columns">
        <div class="column is-2"></div>
        <div class="column">
            <app-login></app-login>
        </div>
        <div class="column is-2"></div>
    </div>
</div>