<input class="input is-large" [formControl]="title" type="text" placeholder="Title">
<nav style="margin-top: 1rem;" class="panel">
  <div *ngFor="let check of checkPoints; let i = index" class="panel-block has-text-weight-bold"
    [class.has-background-success]="check.state">
    <button style="margin-top: 6px; margin-right: 10px;" class="delete is-small"
      [class.has-background-dark]="check.deleteable"></button>
    <label>

      <input  [(ngModel)]="check.state" type="checkbox">
      {{check.label}}
      <button *ngIf="check.action" [disabled]="check.state" 
        class="button is-dark is-small is-borderless" style="margin-left: 10px;">{{check.action.label}}</button>
    </label>
  </div>

  <div class="panel-block">
    <input class="input is-small" [formControl]="label" placeholder="Add a checkpoint" type="text"><button
      (click)="addCheckpoint()" class="button ml-2 is-dark is-small">Add
      checkpoint</button>
  </div>

</nav>

<button (click)="saveBlock()" class="button is-large is-success">Save Block</button>