<div class="container">
    <div class="box">
        {{template}}
        <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Upprättad</label>
                        <div class="control">
                            <input formControlName="created" class="input" type="date" placeholder="upprättad">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Projektnamn</label>
                        <div class="control">
                            <input formControlName="projectName" class="input" type="text" placeholder="Projektnamn">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Kund</label>
                        <div class="control">
                            <input formControlName="company" class="input" type="text" placeholder="Kund">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Kontaktperson</label>
                        <div class="control">
                            <input formControlName="contactName" class="input" type="text" placeholder="Kontaktperson">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Telefonnummer</label>
                        <div class="control">
                            <input formControlName="contactPhone" class="input" type="text" placeholder="Telefonnummer">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">E-post</label>
                        <div class="control">
                            <input formControlName="contactEmail" class="input" type="text" placeholder="E-post">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Uppdragsansvarig</label>
                        <div class="control">
                            <input formControlName="owner" class="input" type="text" placeholder="Uppdragsansvarig">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Status</label>
                        <div class="control">
                            <input formControlName="status" class="input" type="text" placeholder="Status">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Reviderad</label>
                        <div class="control">
                            <input formControlName="reviced" class="input" type="date" placeholder="Status">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Version</label>
                        <div class="control">
                            <input formControlName="version" class="input" type="number" placeholder="Status">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">pnummer</label>
                        <div class="control">
                            <input formControlName="pNumber" class="input" type="text" placeholder="Status">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Document namn</label>
                        <div class="control">
                            <input formControlName="documentTitle" class="input" type="text" placeholder="Status">
                        </div>
                    </div>
                </div>
            </div>

            <button style="margin-right: 4px;" class="button is-link" type="submit"
                [disabled]="!templateForm.valid">Create Document</button>


        </form>
    </div>
</div>