.logo {
    font-family: 'Righteous', cursive;
}

.background-image {
    background-color: rgba(0 , 0, 0, 0.8);
    background-image: url(../../../assets/avi-richards-Z3ownETsdNQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}