<section class="hero is-dark is-small background-image">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <span class="logo is-size-4 has-text-white">SYSTEP</span><span
                            class="logo has-text-link is-size-4">!</span>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item">
                            Documentation
                        </a>
                        <span class="navbar-item">
                            <a class="button is-info is-inverted">
                                <span class="icon">
                                    <i class="fas fa-download"></i>
                                </span>
                                <span>Download</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Password Recovery
            </h1>
        </div>
    </div>

</section>

<div class="container">
    <div style="margin-top: 1rem;" class="box">
        <p>Fyll i din e-post adress nedan så skickar vi ett mail till dig med information om hur du återställer ditt
            lösenord</p>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div style="margin-top: 2rem;" class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input formControlName="email" class="input" type="email" placeholder="E-mail">
                </div>
            </div>

            <div *ngIf="message" class="field">
                <p class="has-text-success">{{message}}</p>
            </div>

            <button style="margin-right: 4px;" class="button is-link" type="submit"
                [disabled]="!resetForm.valid">Återställ lösenord</button>

            <button routerLink="/login" type="button" class="button is-dark">Tillbaka till inloggningssidan</button>
        </form>
    </div>
</div>