<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Välkommen till <span class="logo">SYSTEP</span><span class="logo has-text-link">!</span>
      </h1>
      <h2 class="subtitle">
        Systematic, step by step
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns">
    <div style="margin: 10px;" class="column">
      <h2 class="title is-5">Mina Projekt</h2>
      <button (click)="navigate('/home/create-project')" style="margin-bottom: 1rem;"
        class="button is-link is-large">Skapa nytt projekt</button>
      <div *ngIf="projects$ | async as projects">
        <app-project-panel *ngFor="let project of projects" [owner]="project.owner" [project]="project">
        </app-project-panel>
      </div>
    </div>
  </div>
</div>