<div class="main">
    <div class="columns">
        <div style="margin-top: 140px;" class="column has-text-centered">
            <img src="../../../assets/logo-loading.png" alt="">
        </div>
    </div>
    <div class="columns">
        <div class="column has-text-centered">
            <p style="margin-top: 50px;" class="has-text-white ease">{{message}}...</p>
        </div>
    </div>
    <div class="columns">
        <div class="column has-text-centered">
            <p class="has-text-warning">{{realMessage}}</p>
        </div>
    </div>
</div>